 <div class="col-sm-12  m-3">
    <%= form_for [@post, @reply] do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, placeholder: "留個言吧！", class: "form-control mt-4 bg-light" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary btn-xs" %>
        <%= link_to 'Cancle', :back, :class => "btn btn-danger btn-xs"  %>
      </div>
    <% end %>
  </div>