<%= render partial: "user_info", locals: { user: @user } %>
<div class="container">
  <div class="row">
    <%= render partial: "navtab", locals: { user: @user } %>
    <%= render partial: "post_list", locals: {type: "Draft", posts: @posts } %>
    <% if show_edit("User", @user) %>
      <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  $("tr[data-link]").click(function() {
    event.stopPropagation();
    window.location = $(this).data("link")
  })
</script>