<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Replied Count</th>
          <th>Title</th>
          <th>Last Replied</th>
          <th>Viewed Count</th>
        </tr>
      </thead>
      <tbody>
         <!--若無post顯示 -->
        <% if @posts.count == 0 %>
          <tr>
            <td></td>
            <td></td>
            <td>no post</td>
            <td></td>
          </tr>
        <% end %>
        <% @posts.each do |post| %>
          <tr data-link="<%= post_path(post) %>">
            <td>Replied</td>
            <td><%= post.title %></td>
            <td>Last</td>
            <td>Viewed</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>